body {
    background: #333333;
    color: #ffffff;
}

body > div.container {
    padding-top: 2rem;
}

div.container > h1 {
    text-align: center;
    margin-bottom: 2rem;
}

/*
    PAGE SPECIFICS
########################################################################################################################
 */

/* ERROR */
#error {
    text-align: center;
}

/* LEADERBOARDS */

.leaderboard td,
.leaderboard th {
    text-align: center;
}

.leaderboard .name {
    text-align: left;
}

/* EVENT LEADERBOARD */

#event h4 {
    text-align: center;
}

/* FLAG */

#flag {
    text-align: center;
}

#flag input {
    text-align: left;
}

.flag-large {
    font-size: 6em;
}

#flag input {
    font-size: 2em;
}
